<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Jaglion</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                {{#link-to 'config' tagName='li' href=false}}<a {{bind-attr href="view.href"}}>Configuration</a>{{/link-to}}
                {{#link-to 'xmlextraction' tagName='li' href=false}}<a {{bind-attr href="view.href"}}>XML Extraction</a>{{/link-to}}
                {{#link-to 'anonymization' tagName='li' href=false}}<a {{bind-attr href="view.href"}}>Anonymization</a>{{/link-to}}
                {{#link-to 'hdinsighttranslation' tagName='li' href=false}}<a {{bind-attr href="view.href"}}>HDInsight Translation</a>{{/link-to}}
                {{#link-to 'deanonymize' tagName='li' href=false}}<a {{bind-attr href="view.href"}}>Deanonymization</a>{{/link-to}}
            </ul>
        </div>
    </nav>
</div>
